---
layout: page
---
<h1><b>{{ page.title }}</b></h1>
<h3><span class="badge badge-info">Temporada {{ page.season }} - Episodio {{ page.episode }}</span></h3>

<p class="post-metadata text-muted">
  {{ page.date | date_to_long_string }} -
  <b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    less than 1 min read time
  {%- else -%}
    {{ words | divided_by: 180 }} mins read time
  {%- endif -%}
  </b>

  <br>

  {%- if page.tags != empty -%}
    Tags:
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
      <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
    </a>
    {% endfor %}
  {%- endif -%}

</p>

<p>{{ page.description }}</p>
<hr>
<h4> ¡Escúchalo ahora! </h4>

{% if page.anchor %}
  <div class="col-sm-6 col-sm-offset-4">
    <iframe src="{{ page.anchor }}" height="100px" width="360px" frameborder="0" scrolling="no"></iframe>
  </div>
{% else %}
    <div class="col-sm-6 col-sm-offset-4 embed-responsive embed-responsive-1by1">
      <iframe frameborder="0" scrolling="no" width="75%" height="75%"
       src="{{ page.image }}">
      </iframe>
        <audio controls class="embed-responsive-item">
            <source src="{{ page.file }}">
        </audio>
    </div>
{% endif %}
<small>&copy 2020 Jaime Fco Aguayo.  All rights reserved</small>
<br>
<br>
<br>

{{ content }}

<br>

{% if page.comments %}
<div class="pt-5">
  {% include blog/disqus.html %}
</div>
{% endif %}
