---
layout: page
---
#audio-block {  display: block; }

<h1><b>T{{ page.season }}E{{ page.episode }}: {{ page.title }}</b></h1>

<p class="post-metadata text-muted">
  {{ page.date | date_to_long_string }} -
  <b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    less than 1 min read time
  {%- else -%}
    {{ words | divided_by: 180 }} mins read time
  {%- endif -%}
  </b>

  <br>

  {%- if page.tags != empty -%}
    Tags:
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
      <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
    </a>
    {% endfor %}
  {%- endif -%}

</p>

<p>{{ page.description }}</p>
<br>
<h3> ¡Escúchalo ahora! </h3>
<audio controls id="audio-block">
  <source src="{{ page.url }}">
    You will see this text if native audio playback is not supported.
</audio>
<small>Audio by JaimeFco [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>],
  <a href="https://commons.wikimedia.org/wiki/File%3AArtis%2C_enkele_flamingo's_-_SoundCloud_-_Beeld_en_Geluid.ogg">via Wikimedia Commons</a>
</small> 


<audio controls id="player">
  <source src="{{ page.url }}" preload="auto" >
</audio>
<div>
	<button onclick="document.getElementById('player').volume+=0.1">Volume Up</button>
	<button onclick="document.getElementById('player').volume-=0.1">Volume Down</button>
</div>

{{ content }}

{% if page.comments %}
<div class="pt-5">
  {% include blog/disqus.html %}
</div>
{% endif %}
